# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# 환경변수 (절대 커밋 금지)
.env

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Node (Vue 프론트)
node_modules/
dist/
.env.local